[submodule "LI/vendor/spdlog"]
	path = LI/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LI/vendor/GLFW"]
	path = LI/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "LI/vendor/imgui"]
	path = LI/vendor/imgui
	url = https://github.com/sky34525/imgui
[submodule "LI/vendor/glm"]
	path = LI/vendor/glm
	url = https://github.com/g-truc/glm
